<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
    Package Sources
    
    For local development with Deepstaging packages, set DEEPSTAGING_PACKAGES_DIR:
    
      export DEEPSTAGING_PACKAGES_DIR="$HOME/org/deepstaging/artifacts/packages"
    
    If not set, only nuget.org will be used.
  -->
  <packageSources>
    <clear />
    <add key="Deepstaging" value="%DEEPSTAGING_PACKAGES_DIR%" />
<!--    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
</configuration>
