# SPDX-FileCopyrightText: 2024-present Deepstaging
# SPDX-License-Identifier: RPL-1.5
version: 2
updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
    groups:
      microsoft:
        patterns:
          - "Microsoft.*"
      testing:
        patterns:
          - "TUnit*"
          - "Verify*"
      deepstaging:
        patterns:
          - "Deepstaging.*"
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies

  - package-ecosystem: pip
    directory: /docs
    schedule:
      interval: monthly
    labels:
      - dependencies
